# Development requirements for {{ project_name|title }} Django project
-r requirements.txt

# Dependencies
docutils  # for admindocs

# Django apps
django-debug-toolbar

# Additional
ipython  # improved Python shell

